body {
background-color: rgb(71, 47, 32);}

.big-title {

    color: bisque;
    font-size: 60px;
    font-family: monospace;
    text-align: left;
    line-height: 1,5;
    font-weight: 5000;
    font-style: oblique;
    margin-left: 20px;
color: #f1d6b2;
    text-shadow: 6px 6px #00000040;

}

.topnav {
    background-color: rgb(125, 90, 75);
    height: 115px;
    border-radius: 20px;
    margin-top:20px;
    margin-left: 20px;
    margin-right:20px;
}

.topnav a {
    font-size: 40px;
    margin: 45px;
    display: inline-block;
    padding: 15px 12px;
    border: 5px solid rgb(71, 47, 32);
    border-radius: 5px;
    margin-top: 10px;
    color: rgb(71, 47, 32);
}
.topnav a:hover {background-color: rgb(95, 69, 58);}
.topnav a.active {color: bisque;}